.parent_card img.profile-picture{
    width: 100%;
    border-radius: 50%;
}

.parent_card table tr td:nth-child(2){
    font-weight: normal;
    font-size: 10pt;
    color: azure;
}

.parent_card button{
    margin-top: 4px;
}
