<div class="row">
    <ba-card class="col-md-9">
        <calendar></calendar>
    </ba-card>

    <div class="col-md-3">
        <div class="row">
            <div class="col-12">
                <button class="btn btn-success btn-block btn-new-event" routerLink="/pages/events/edit">New Event</button>
            </div>
            <div class="col-12">
                <ba-card title="Show Events">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            School
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            1° A
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            2° A
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            3° A
                        </label>
                    </div>
                </ba-card>      
            </div>
        </div>
    </div>
</div>