.schedule .matter{
    background-color: azure;
    background-color: rgba(0, 0, 0, 0.04);
    border-color: 1px solid  rgba(0, 0, 0, 0.1);
    margin: 3px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;

    a{
        float: right;
    }

    a:hover{
        color: red;
    }
}

.schedule .drag_default{
    opacity: 0.5;
}

.main-teacher-picture{
    float: right;
    width: 30px;
    padding-right: 5px;
    margin-top: -30px;
    border-radius: 50%;
}

.teachers-matters tbody td{
    padding: 3px 0px 3px 12px;
    button{
        margin-right: -8px;
    }
}