<!-- Search -->
<div class="row">
    <div class="col-md-12">
      <div>
        <ba-card>
          <div class="row">
            <div class="col-md-6">
              <div class="form-horizontal">
                <div class="input-group">
                  <input type="search" class="form-control" id="input01" placeholder="{{'form.search' | translate}}">

                  <div class="btn-group hidden-md-up">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Order by
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Name</a>
                      <a class="dropdown-item" href="#">Class</a>
                    </div>
                    <button type="button" class="btn btn-success btn-icon"><i class="ion-plus-round"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 offset-md-2 text-right hidden-sm-down">
              <div class="form-horizontal">
                <div class="input-group">
                  <label for="orderby" translate>form.orderby</label>
                  <select class="form-control" id="country">
                    <option value="Name">Name</option>
                    <option value="Class">Class</option>
                  </select>
                  <button type="button" routerLink="./new" class="btn btn-success btn-xm btn-add" translate>form.new</button>
                </div>
              </div>
            </div>
          </div>
        </ba-card>
      </div>
    </div>
</div>
<!-- [FIM] Search -->

<div class="row">
    <div *ngFor='let staff of team' class="col-12 col-md-6 col-lg-4">
      <staff-card [staff]="staff"></staff-card>
    </div>
</div>
<ba-back-top></ba-back-top>