  <ba-card baCardClass="with-scroll" routerLink="./{{student.id}}">
    <div class="row student_card">
      <div class="col-8">
        <h5>{{student.person.firstName}} {{student.person.lastName}}</h5>
        <table>
          <tbody>
            <tr>
              <td class="text-right">Birth Day:</td>
              <td>{{student.person.birthDay  | date: 'dd/MM/yyyy'}}</td>
            </tr>
            <tr>
              <td class="text-right">Class:</td>
              <td>3° B</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-4">
        <img src="{{ ( (!student.person.picture ? 'default' : student.person.picture) | baProfilePicture ) }}">
      </div>
    </div>
  </ba-card>