<div class="row">
    <div class="col-md-12">
      <div>
        <ba-card baCardClass="with-scroll">
          <ba-tabs>
            <ba-tab tabTitle="{{'tabs.general' | translate}}">
              <div class="row">
                <div class="col-sm-4 col-md-3 offset-md-1">
                  <img src="{{ ( 'Vlad' | baProfilePicture ) }}" class="img_round">
                  <button class="btn btn-default btn_change_picture">
                    Change Picture
                    <i class="ion-camera"></i>
                  </button>
                </div>
                <div class="col-sm-6">
                  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
                    <div class="form-group">
                      <label for="name" translate>person.name</label>
                      <input type="text" [formControl]="firstName" [(ngModel)]="student && student.person.firstName" class="form-control" id="name" placeholder="{{'person.name' | translate}}">
                    </div>
                    <div class="form-group">
                      <label for="birthday" translate>person.birthday</label>
                      <input type="text"  [formControl]="birthDay" [(ngModel)]="student && student.person.birthDay" class="form-control" id="birthday" placeholder="{{'person.birthday' | translate}}">
                    </div>
                    <div class="form-group">
                      <label for="class" translate>person.class</label>
                      <select [formControl]="classRoom" class="form-control" id="class">
                        <option value=""></option>
                      </select>
                    </div>
                    <button type="submit" class="btn btn-success" translate>form.save</button>
                  </form>
                </div>
              </div>
            </ba-tab>

            <ba-tab tabTitle="{{'tabs.location' | translate}}">
              <div class="row">
                <div class="col-md-6 offset-md-3">
                  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
                    <div class="form-group">
                      <label for="country" translate>location.country</label>
                      <select class="form-control" id="country">
                        <option value="BLR">Brazil</option>
                        <option value="MEX">Mexico</option>
                        <option value="ARG">Argentina</option>
                        <option value="EUA">United States</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="state" translate>location.state</label>
                      <select class="form-control" id="state">
                        <option value="PR">Paraná</option>
                        <option value="SP">São Paulo</option>
                        <option value="SC">Santa Catarina</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="postal_code" translate>location.postal_code</label>
                      <input [formControl]="postalCode" [(ngModel)]="student && student.person && student.person.address.postalCode" type="text" class="form-control" id="postal_code" placeholder="{{'location.postal_code' | translate}}">
                    </div>
                    <div class="form-group">
                      <label for="city" translate>location.city</label>
                      <input [formControl]="city" [(ngModel)]="student && student.person && student.person.address.city" type="text" class="form-control" id="city" placeholder="{{'location.city' | translate}}">
                    </div>
                    <div class="form-group">
                      <label for="address" translate>location.address</label>
                      <input [formControl]="address" [(ngModel)]="student && student.person && student.person.address.address" type="text" class="form-control" id="address" placeholder="{{'location.address' | translate}}">
                    </div>
                    <div class="form-group">
                      <label for="number" translate>location.number</label>
                      <input [formControl]="number" [(ngModel)]="student && student.person && student.person.address.number" type="text" class="form-control" id="number" placeholder="{{'location.number' | translate}}">
                    </div>
                    <button type="submit" class="btn btn-success" translate>form.save</button>
                  </form>
                </div>
              </div>
            </ba-tab>

            <ba-tab tabTitle="{{'tabs.parents' | translate}}">
              <div class="row">
                <div *ngFor="let parent of parents" class="col-12 col-md-6 col-lg-6">
                  <parent-card [parent]='parent' (parentDeleteEvent)='removeStudent($event)'></parent-card>
                </div>
              </div>
            </ba-tab>
          </ba-tabs>
        </ba-card>
      </div>
    </div>
</div>
