.staff_card img{
    width: 100%;
    border-radius: 50%;
}

.staff_card table tr td:nth-child(2){
    font-weight: normal;
    font-size: 10pt;
    color: azure;
}

.staff_card button{
    margin-top: 4px;
}