  <ba-card baCardClass="with-scroll" routerLink="./{{staff.id}}">
    <div class="row staff_card">
      <div class="col-8">
        <h5>{{staff.person.firstName + " " + staff.person.lastName}}</h5>
        <table>
          <tbody>
            <tr>
              <td class="text-right">Function:</td>
              <td>Teacher</td>
            </tr>
            <tr>
              <td class="text-right">Birth Day:</td>
              <td>{{staff.person.birthDay}}</td>
            </tr>
            <tr>
              <td class="text-right">Main Class:</td>
              <td>3° B</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-4">
        <img src="{{ ( (!staff.person.picture ? 'default' : staff.person.picture) | baProfilePicture ) }}">
      </div>
    </div>
  </ba-card>