  <ba-card baCardClass="with-scroll">
    <div class="row staff_card">
      <div class="col-8">
        <h5>Juliane da Rocha Andrade</h5>
        <table>
          <tbody>
            <tr>
              <td class="text-right">Function:</td>
              <td>Teacher</td>
            </tr>
            <tr>
              <td class="text-right">Birth Day:</td>
              <td>22/03/2010</td>
            </tr>
            <tr>
              <td class="text-right">Main Class:</td>
              <td>3° B</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-4">
        <img src="{{ ( 'Vlad' | baProfilePicture ) }}">
        <button routerLink="/pages/management/staff" type="button" class="btn btn-success btn-block btn-sm">View Profile</button>
      </div>
    </div>
  </ba-card>