@import 'conf/conf';

$text-color: #ffffff;

.img-logo{
  padding-bottom:20px;
  text-align: center;
  img {
    width: 80%;
  }
}

.auth-block {

  //position: relative;
  //top: 50%;
  //transform: translateY(-50%);

  border-radius: 5px;
  //@include bg-translucent-dark(0.25);
  background-color: rgba(#228DAE , 0.7);
  border: 10px solid rgba(#B4CFEC, 0.7);
  color: #fff;
  padding: 32px;
  margin-top: 50px;
  h1 {
    font-weight: $font-light;
    margin-bottom: 28px;
  }
  p {
    font-size: 16px;
  }
  a {
    text-decoration: none;
    outline: none;
    transition: all 0.2s ease;
    color: white;
    &:hover {
      color: $primary-light;
    }
  }

  .control-label {
    padding-top: 11px;
    color: $text-color;
  }

  .form-group {
    margin-bottom: 12px;
  }
}

a.forgot-pass {
  display: block;
  text-align: right;
  margin-top: 10px;
  float: right;
  z-index: 2;
  position: relative;
}

.btn-auth {
  color: #ffffff !important;
  font-size: 16pt;
  background-color: $navbar !important;
}