.class_card img{
    width: 100%;
    border-radius: 50%;
}

.class_card table tr td:nth-child(2){
    font-weight: normal;
    font-size: 10pt;
}

.class_card button{
    margin-top: 4px;
}

ba-card{
    cursor: pointer;
}