  <ba-card baCardClass="with-scroll" routerLink="./{{classRoom.id}}">
    <div class="row class_card">
      <div class="col-8">
        <h5>{{classRoom.name}}</h5>
        <table>
          <tbody>
            <tr>
              <td class="text-right">Teacher:</td>
              <td>Juliane R. Andrade</td>
            </tr>
            <tr>
              <td class="text-right">Period:</td>
              <td>{{classRoom.period}}</td>
            </tr>
            <tr>
              <td class="text-right">Students:</td>
              <td>22</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-4">
        <img src="{{ ( (!classRoom.picture ? 'default' : classRoom.picture) | baProfilePicture ) }}">
      </div>
    </div>
  </ba-card>